@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #1A1A1A;
  background: #FFFFFF;
}

/* Hide scrollbar for filter bar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
